.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 100px;
}

.buttons-container {
  display: flex;
  gap: 30px;
}

.book-list {
  height: 200px;
  overflow-y: auto;
}

.book-info {
  display: inline-block;
  margin-right: 10px;
}

.book-actions {
  display: inline-block;
}
