<div class="container">
    <div class="buttons-container">
        <button routerLink='/add' class="btn btn-primary">
            <i class="fa fa-plus"></i> Add book
        </button>
        <button routerLink='/quotes' class="btn btn-primary">
            <i class="fa fa-quote-left"></i> Quotes
        </button>
    </div>
    
    <ul class="book-list">             
        <li *ngFor="let book of books">
            <p>
                <span class="book-info">
                    <strong>{{ book.name }}</strong> by {{ book.author }} 
                    <small class="text-muted">(Published: {{ book.dateOfRelease }})</small>
                </span>
                <span class="book-actions">
                    <button class="btn btn-danger btn-sm" (click)="deleteBook(book)">
                        <i class="fa fa-trash"></i> Delete
                    </button>  
                    <button [routerLink]="['/edit', book.id]" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit"></i> Edit
                    </button> 
                </span>
            </p>          
        </li>
    </ul>
</div>
